<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style-vue.css">
  <title>JavaScript</title>
</head>
<body>

  <h1 class="title">ハンバーガーメニュー（Vue.js）</h1>

  <div id="app">
    {{ message }}
  </div>

  <div id="app3">
    <span v-if="seen">Now you see me</span>
  </div>

  <div id="app4">
    <ul>
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ul>
  </div>

  <div id="app5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
  </div>

  <div id="app7">
    <p class="txt" v-if="seen">Nishi</p>
    <button v-on:click="switchBtn">Click here</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script>

    var app7 = new Vue({
      el: '#app7',
      data: {
        seen: true
      },
      methods: {
        switchBtn: function(){
          this.seen = !this.seen
        }
      }
    })

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js!'
      }
    })

    var app3 = new Vue({
      el: '#app3',
      data: {
        seen: true
      }
    })

    var app4 = new Vue({
      el: '#app4',
      data: {
        todos: [
          { text: 'Learn JavaScript'},
          { text: 'Learn Vue.js'},
          { text: 'homework'}
        ]
      }
    })

    var app5 = new Vue({
      el: '#app5',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMessage: function (){
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    var app6 = new Vue({
      el: '#app6',
      data: {
        message: 'Good Morning'
      }
    })


  </script>
</body>
</html>